* {
    box-sizing: border-box
}

html {
    --main-color: #5822d0ff;
    --main-color-darker: #250075ff;
    --main-color-light: #9a75efff;
    --main-color-lighter: #bda2f8ff;
    --main-color-lighter: #e2d4ff;
    --complementary-color: #fb7624ff;
    --complementary-color-light: #ffa671ff;
    --complementary-color-lighter: #ffc7a4ff;
    --neutral-color: rgb(60, 60, 60);
    --neutral-color-lighter: #f3f3f3ff;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--neutral-color-lighter);
}

h1,
h2,
h3 {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal
}

h1 {
    font-size: 2rem;
    font-weight: 800;
    color: var(--main-color)
}

h2 {
    font-size: 1.9rem;
    font-weight: 800;
    color: var(--main-color)
}

h3 {
    font-size: 1.1rem;
    font-weight: 800;
    letter-spacing: 2px;
    color: var(--main-color);
}

p {
    color: var(--neutral-color);
    line-height: 1.4;
    font-size: .9rem;
    letter-spacing: 1px;
    line-height: 1.4rem;
}
.creative-process-button {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    h2 {
        font-size: 2.9rem
    }

    h3 {
        font-size: 1.4rem
    }
}

@media only screen and (min-width: 1200px) {
    h2 {
        font-size: 4rem
    }

    h3 {
        font-size: 1.6rem
    }
}

.button__wrapper {
    display: flex;
    justify-content: center;
}

.dark-button {
    all: unset;
    font-family: "Josefina Sans";
    color: var(--complementary-color-lighter);
    font-size: 1rem;
    font-weight: 800;
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 2.6px;
    background: var(--main-color);
    width: 12rem;
    padding: 1.4rem 0 1.4rem 0
}

.light-button {
    all: unset;
    color: var(--main-color-lighter);
    width: 100%;
    font-size: 1rem;
    font-weight: 800;
    border-radius: .6rem;
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 2.6px;
    background: var(--complementary-color);
    padding: 1.4rem 0 1.4rem 0;
    transition: all .9s ease;
}

.light-button:hover {
    color: white;
    background: rgb(255, 142, 72);
    cursor: pointer;
}

@media(min-width: 768px) {
    .light-button {
        width: 20rem;
    }
}

.text-highlighter {
    background-image: url(/assets/images/text-highlighter.png);
    background-size: 10rem;
    background-repeat: no-repeat;
    background-position-y: bottom
}

header {
    background: #5822d0;
    position: relative;
    position: sticky;
    top: 0;
    z-index: 1000
}

.content-width {
    max-width: 90%;
    margin: 0 auto
}

@media only screen and (min-width: 992px) {
    .content-width {
        max-width: 70%;
        margin: 0 auto
    }
}

/*@media only screen and (min-width: 1200px) {
    .content-width {
        max-width: 75%;
        margin: 0 auto
    }
}*/

nav {
    padding-bottom: .6rem
}

.main-navigation {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0);
    padding-top: 1rem
}

.company__desktop-logo {
    width: 12rem
}

.company__mobile-logo {
    width: 6rem
}

.company__desktop-logo-wrapper {
    display: none;
    margin-left: -2rem
}

@media(min-width: 768px) {
    .company__mobile-logo-wrapper {
        display: none
    }

    .company__desktop-logo-wrapper {
        display: block
    }
}

.main-navigation__menu-container {
    display: none
}

.main-navigation__menu-container.active {
    display: flex;
    background-color: rgba(0, 0, 0, 0);
    margin-left: -5%;
    width: 100%;
    justify-content: center;
    padding-top: 4rem;
    padding-right: 2rem;
    height: 100%
}

.main-navigation li {
    list-style-type: none;
    padding-bottom: 1rem
}

.main-navigation a {
    color: #fff;
    text-decoration: none;
    font-size: .9rem;
    padding-left: 2rem
}

@media(max-width: 768px) {
    .main-navigation a {
        padding: 0
    }
}

.main-navigation a:hover {
    color: var(--complementary-color)
}

.main-navigation__menu-container .whatsapp-mobile a {
    font-weight: 800;
    text-decoration: none
}

@media(max-width: 1200px) {
    .main-navigation a {
        text-decoration: underline;
        text-decoration-color: var(--complementary-color);
        text-underline-offset: 12px
    }
}

.main-navigation .active {
    color: var(--complementary-color)
}

.burger-menu__container {
    display: flex;
    justify-content: end;
    width: 30%
}

.burger-menu {
    position: relative;
    height: auto
}

.burger-menu.active {
    max-width: 60px
}

.burger-menu div {
    height: 6px;
    width: 60px;
    margin-top: 8px;
    background-color: #bda2f8;
    border-radius: 6px
}

.burger-menu__lines {
    transition: transform .2s ease
}

.burger-menu.active .top-line {
    position: absolute;
    top: 1rem;
    left: 0px;
    transform: rotate(45deg);
    transform-origin: center
}

.burger-menu.active .bottom-line {
    position: absolute;
    top: 1rem;
    right: 0px;
    transform: rotate(-45deg);
    transform-origin: center
}

.burger-menu.active .middle-line {
    opacity: 0
}

.main-navigation__menu .whatsapp-mobile a {
    color: rgba(55, 246, 84, 0.8745098039)
}

@media(max-width: 1200px) {
    .whatsapp-icon {
        display: none
    }
}

@media(min-width: 1200px) {
    .whatsapp-icon {
        width: 2rem;
        color: rgba(55, 246, 84, 0.8745098039)
    }

    .main-navigation__menu .whatsapp-mobile {
        display: none
    }

    .main-navigation {
        display: flex;
        justify-content: space-between;
        align-items: center
    }

    .main-navigation__menu-container {
        display: flex
    }

    .main-navigation__menu li {
        display: inline;
        padding-left: 1rem
    }

    .main-navigation__menu a {
        border: solid var(--complementary-color);
        border-width: 0 0 0 1px
    }

    .burger-menu__container {
        display: none
    }
}

.hero {
    background: #5822d0;
    padding: 4rem 0 4rem 0;
}

.hero__content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__rotating-image-wrapper {
    width: 4rem;
    margin-bottom: 1rem
}

.hero__rotating-image-wrapper img {
    max-width: 100%;
    height: auto;
}


.rotating-image {
    width: 140px;
    height: 140px;
    animation: rotate 2s ease-in-out forwards;
}

@keyframes rotate {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}

.typing-container {
    color: var(--main-color-light);
    position: relative;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

#cursor {
    position: absolute;
    top: 0;
    right: 6px;
    padding-right: 6px;
    animation: blink-caret .75s infinite;
    color: #fb7624
}

@keyframes blink-caret {

    0%,
    100% {
        opacity: 1
    }

    50% {
        opacity: 0
    }
}

.hero-shape {
    width: 100%;
    height: auto
}

.highlight {
    background-color: var(--main-color-lighter)
}

.hero__description {
    padding-bottom: 1rem
}

.hero__description p {
    color: #fff;
    text-align: center;
}

.hero__img-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.hero__img-wrapper img {
    width: 40%;

}

.decoration {
    display: flex;
    flex-wrap: nowrap;
    width: auto;
}

.decoration div {
    height: 6px;
    flex: 1;
}

.color-one {
    background: rgb(156, 156, 156);
}


.color-two {
    background: var(--complementary-color);
}

.color-three {
    background: rgb(190, 74, 252);
}
@media(max-width: 1200px) {

    .play__img-wrapper,
    .pen__img-wrapper,
    .person__img-wrapper,
    .search__img-wrapper,
    .ball__img-wrapper {
        display: none
    }
}

@media(min-width: 768px) {
    .hero {
        padding: 6rem 0 6rem 0;
    }



    .typing-container {
        font-size: 4rem;
        margin-bottom: 1rem
    }

    #cursor {
        right: 16px;
        padding-right: 6px
    }

    .hero__description {
        width: 60%;
    }

    .hero__rotating-image-wrapper {
        padding-bottom: 1rem
    }

    .hero__img-wrapper {
        padding-top: 4rem;
    }

    .hero__img-wrapper img {
        width: 30%;
    }
}

@media(min-width: 1200px) {
    .hero {
        padding: 12rem 0 12rem 0;
    }


    .moving-object {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .play__img-wrapper,
    .pen__img-wrapper,
    .person__img-wrapper,
    .search__img-wrapper,
    .ball__img-wrapper {
        position: relative
    }

    .hero__img-wrapper {
        padding-top: 6rem;
    }

    .hero__img-wrapper img {
        width: 26%;
    }

    .play__img-wrapper img {
        margin-top: -24rem;
        margin-left: -26rem;
        width: 7%;

    }

    .pen__img-wrapper img {
        margin-top: -8rem;
        margin-left: -30rem;
        width: 6%;

    }

    .person__img-wrapper img {
        margin-top: -22rem;
        margin-left: 20rem;
        width: 6%;
    }

    .search__img-wrapper img {
        margin-top: -6rem;
        margin-left: 30rem;
        width: 4%;
    }

    .ball__img-wrapper img {
        margin-top: 6rem;
        margin-left: 16rem;
        width: 6%
    }
}

.about {
    position: relative;
    padding: 1rem 0 1rem 0
}

.about__content-wrapper h2 {
    color: var(--complementary-color);
    margin-bottom: 2rem;
}

.person-icon__wrapper {
    display: flex;
    justify-content: center;
}

.person-icon__wrapper img {
    width: 20%;
}


.about-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
}


.about__description {
    color: var(--neutral-color);
}

.about__description .text-emphasis {
    color: var(--main-color);
}

.about__description-wrapper ul {
    list-style-type: none;
    font-size: .9rem;
    color: var(--neutral-color);
    line-height: 1.9rem;
    letter-spacing: 1px;
    padding-top: 1rem;

}

.about__description-wrapper ul li::before {
    content: "\2713";
    /* Unicode character for check mark */
    margin-right: 0.5em;
    /* Adjust spacing between check mark and text */
    color: green;
    font-size: 1.6rem;
}

.about__description .text-highlight {
    background: var(--complementary-color-lighter);
}



.about__image-wrapper img {
    width: 100%;
    height: auto
}

@media only screen and (max-width: 768px) {
    .about__decoration-wrapper {
        display: none
    }
    
    .person-icon__wrapper {
        justify-content: start;
        padding-top: 2rem;
    }
}

@media only screen and (min-width: 768px) {
    .about {
        padding: 6rem 0 4rem 0
    }

    .about-wrapper {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 2rem;
    }



    
    .person-icon__wrapper {
        flex: 5;
    } 

    .person-icon__wrapper img {
        width: 26%;
    }

    .about__content-wrapper {
        flex: 5;
    }

    .about__description-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: end;
        flex: 4;
        padding-bottom: 2rem;

    }

    

    
}

@media only screen and (min-width: 1200px) {
    .about {
        padding: 10rem 0 8rem 0
    }

    .about::after {
        position: absolute;
        content: "COMMITMENT";
        writing-mode: vertical-rl;
        text-orientation: mixed;
        color: #e1e1e1;
        font-size: 2rem;
        right: .6rem;
        font-weight: 600;
        margin-top: -40rem
    }


    .about-wrapper::after {
        content: "";
        position: absolute;
        width: 2px;
        height: 20rem;
        background: var(--main-color);
        right: 34rem;
        top: 5rem;
    }
    
    .person-icon__wrapper {
        flex: 6 ;
    }

    .person-icon__wrapper img {
        width: 20%;
    }

    .about__content-wrapper {
        flex: 4;
    }

    .about__decoration-wrapper img {
        width: 10%;
        right: 20rem;
    }
    
}

.creative-process {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    background: rgb(255, 235, 223);
    padding: 2rem 0 2rem 0;
}

.creative-process__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.creative-process__heading h2 {
    color: var(--main-color);
    text-align: center;
    margin-bottom: -.4rem;
}

.creative-process__heading h2 span {
    color: var(--complementary-color);
}

.creative-process__heading p {
    color: var(--main-color-light);
    text-align: center;
}



.creative-process__cards-wrapper {
    padding: 2rem 0 2rem 0
}

.creative-process__card-heading {
    display: flex;
    flex-direction: column;
    justify-content: center
}

.creative-process__card-heading h3 {
    color: var(--main-color);
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 1rem;
    margin-bottom: -.2rem;
    word-spacing: .4rem;
}

.creative-process-icon {
    width: 5rem;
    padding: .9rem;
    fill: white;
    border-radius: 1rem;
    background: var(--complementary-color);
}

.creative-process__card p {
    color: var(--neutral-color);
}

@media only screen and (max-width: 768px) {
    .creative-process__card {
        padding-bottom: 1.4rem;
    }
}

@media only screen and (min-width: 768px) {
    .creative-process {
        padding: 4rem 0 4rem 0
    }

    .creative-process__heading h2 {
        width: 80%
    }
    .creative-process__heading p {
        width: 60%;
    }
    
    .creative-process__cards-wrapper {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 6%;
        margin: 4rem 0 12rem 0;

    }

    .creative-process__card {
        grid-column: span 6;
    }
}

@media only screen and (min-width: 1200px) {
    .creative-process {
        padding: 6rem 0 6rem 0
    }
    .creative-process__card-heading h3 {
        font-size: 1.1rem;
    }
    .creative-process::after {
        position: absolute;
        content: "CREATIVITY";
        writing-mode: vertical-rl;
        text-orientation: mixed;
        color: rgb(255, 201, 167);
        font-size: 2rem;
        right: .6rem;
        font-weight: 600;
        margin-top: -30rem
    }

    .creative-process__cards-wrapper {
        padding: 4rem 4rem 4rem 4rem;
        background-color: white;
        border-radius: 1rem;
    }

    .creative-process__card {
        grid-column: span 4
    }

    .creative-process__description p {
        line-height: 1.6rem
    }


}

.our-approach {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 2rem 0 2rem 0;
    
}

.our-approach__description span {
    color: var(--complementary-color);
}

.our-approach__description p {
    color: var(--neutral-color);
}

.our-approach__content-wrapper {
    padding-bottom: 4rem
}

.our-approach__img-wrapper {
    display: flex;
}

.our-approach__img-wrapper img {
    width: 50%;
}

@media only screen and (min-width: 768px) {
    .our-approach {
        padding: 4rem 0 4rem 0
    }

    .our-approach__content-wrapper {
        display: flex
    }

    .our-approach__heading {
        flex: 6;
        margin-top: -2.4rem
    }

    .our-approach__description {
        flex: 4;
    }
}

@media only screen and (min-width: 1200px) {
    .our-approach {
        padding: 6rem 0 8rem 0
    }

    
    .our-approach__heading {
        margin-top: -3.6rem;
    }
}

.services-banner {
    background: var(--main-color);
}

.services-banner__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 3rem 0 2rem 0;
}

.services-banner__wrapper img {
    width: 80%;
    padding-bottom: 1rem;
}

@media only screen and (min-width: 768px) {
    .services-banner__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .services-banner__wrapper img {
        width: 30%;
    }

}


.web-technologies {
    background: var(--main-color);
    padding: 2rem 0 2rem 0;
}



.web-technologies__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.web-technologies__wrapper p {
    color: white;
}

.web-technologies__header h2 {
    margin-bottom: -.6rem;
    text-align: center;
    color: white;
}


.web-technologies__header p {
    width: 60%;
    text-align: center;
    color: white;
}

.responsive-design {

    padding: 2rem 0 2rem 0;
}

.responsive-design__description h3 {
    color: var(--main-color-light);
}

.frameworks {
    display: flex;
    flex-direction: column;
}

.frameworks__description h3 {
    color: var(--main-color-light);
}


.frameworks__banner-wrapper {
    display: flex;
    justify-content: center;
    padding: 2rem 0 2rem 0;
}

.frameworks__banner-wrapper img {
    width: 60%;
}

.web-technologies__header-img {
    display: flex;
    justify-content: center;
}

.web-technologies__header-img img{
    width: 60%;
}

.responsive-design__img-wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 80%;
}

.responsive-design__img-wrapper img {
    width: 100%;
}

.frameworks__img-wrapper {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.frameworks__img-wrapper img {
    width: 40%;
}

@media only screen and (max-width: 768px) {
    .web-technologies__header p {
        width: 100%;
    }
    .frameworks__description {
        order: 1;
    }
    
    .frameworks__img-wrapper {
        order: 2;
    }

    
}

@media only screen and (min-width: 768px) {
    
    

    .web-technologies {
        padding: 6rem 0 6rem 0;
    }
    .web-technologies__header-img img{
        width: 100%;
    }
    .responsive-design {
        display: flex;
        align-items: center;
        padding: 6rem 0 6rem 0;
    }
    .responsive-design__description {
        flex: 1;
    }

    .responsive-design__img-wrapper {
        justify-content: end;
        flex: 1;
    }

    .responsive-design__img-wrapper img {
        width: 100%;
    }
    
    .frameworks {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .frameworks__img-wrapper {
        justify-content: start;
        flex: 1;
    }


    .frameworks__img-wrapper img {
        min-width: 60%;
    }

    .frameworks__description {
        flex: 1;
    }

    .frameworks__banner-wrapper {
        padding: 6rem 0 4rem 0;
    }
}

@media only screen and (min-width: 1200px) {

    .responsive-design {
        padding: 10rem 0 10rem 0;

    }

    .web-technologies {
        padding: 6rem 0 6rem 0;
    }
    .responsive-design__description {
        flex: 1;
    }

    .responsive-design__img-wrapper {
        flex: 2;
    }
    
    .responsive-design__img-wrapper img {
        width: 80%;
    }
    .frameworks__img-wrapper {
        flex: 2;
    }
    .frameworks__description {
        flex: 1;
    }

    .frameworks__img-wrapper img {
        min-width: 40%;
    }
    .frameworks__banner-wrapper {
        padding: 10rem 0 6rem 0;
    }
}

.contact-form__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: var(--complementary-color-lighter);
    padding: 2rem 0 3.6rem 0;
}

.contact-form__content-wrapper {
    width: 60%;
    text-align: center;
    padding-bottom: 1rem
}

.contact-form__button-wrapper {
    width: auto
}

.contact-form__button {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 400;
    color: var(--main-color-lighter);
    background: var(--main-color)
}

.contact-form__button:hover {
    background: #8450f2
}

@media only screen and (max-width: 768px) {


    .contact-form__wrapper {
        max-width: 100%
    }
}

@media only screen and (min-width: 768px) {

    .contact-form {
        margin-top: 4rem;
    }
    .contact-form__wrapper {
        padding: 6rem 0 8rem 0
    }

    .contact-form__content-wrapper {
        padding-bottom: 2rem
    }
}

@media only screen and (min-width: 1200px) {

    .contact-form {
        margin-top: 6rem;
    }
    .contact-form__button {
        font-size: 1.4rem
    }
}

.support {
    padding: 2rem 0 4rem 0
}

.support-content {
    padding-bottom: 2rem
}

.support__description a {
    text-decoration: none;
    color: var(--main-color)
}

.support__img-wrapper {
    display: flex;
    justify-content: center
}

.support__img-wrapper img {
    width: 40%
}

@media only screen and (min-width: 768px) {
    .support {
        padding: 6rem 0 6rem 0
    }

    .support-content {
        display: flex;
        padding-bottom: 4rem
    }

    .support__heading {
        width: 60%;
        margin-top: -2.4rem
    }

    .support__description {
        width: 40%
    }

    .support__img-wrapper img {
        width: 26%
    }
}

@media only screen and (min-width: 1200px) {
    .support {
        padding: 10rem 0 8rem 0
    }

    .support__heading {
        margin-top: -3.6rem
    }

    .support-content {
        padding-bottom: 6rem
    }
}




footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--main-color);
    padding: 2rem 0 2rem 0;
}

footer h3 {
    color: var(--main-color-lighter);
    font-size: 1.4rem;
    padding-bottom: 2rem;
    text-decoration: underline;
    text-decoration-color: var(--complementary-color);
    text-underline-offset: 6px
}

footer p {
    color: var(--main-color-lighter);
    font-weight: 600
}

.social-media-icon {
    width: 5.6rem;
    padding-right: 2rem;
    padding-left: 2rem
}

.social-media-icon:hover {
    fill: var(--complementary-color)
}

.contact-information__email-wrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem
}

.contact-information {
    display: flex;
    flex-direction: column
}

.contact-information__social-media-wrapper {
    display: flex;
    justify-content: center
}

@media only screen and (min-width: 768px) {
    footer {
        padding: 4rem 0 2rem 0
    }

    footer h3 {
        font-size: 1.9rem
    }

    .contact-information {
        display: flex;
        flex-direction: row;
        align-items: center
    }

    .contact-information__email-wrapper {
        padding: 0 4rem 0 0
    }

    .social-media-icon {
        width: 3.6rem;
        padding: 0 2rem 0 0
    }
}

.made-with-love {
    display: flex;
    align-items: center;
    padding: 2rem 0 0 0;
}

.heart {
    width: 12px;
    height: 12px;
    position: relative;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.heart::before,
.heart::after {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
}

.heart::before {
    top: -6px;
    left: 0;
}

.heart::after {
    top: 0;
    left: 6px;
}

.heart {
    width: 12px;
    height: 12px;
    background-color: red;
    position: relative;
    transform: rotate(-45deg);
}

.flag {
    width: 20px;
    height: 14px;
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/3/34/Flag_of_El_Salvador.svg/2560px-Flag_of_El_Salvador.svg.png') no-repeat center center;
    background-size: cover;
    display: inline-block;
    margin-left: 10px;
}